body .before_after_photos {
  background-color: #fff;
}
body .before_after_photos .top_1 {
  margin-top: 80px;
}
body .before_after_photos .top_1 .container {
  width: 100%;
}
body .before_after_photos .top_1 .img_1 {
  width: 100%;
}
body .before_after_photos .top_1 .block_1 {
  padding: 0px;
  background-image: url(../images/before_after_photos_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  body .before_after_photos .top_1 .block_1 {
    display: none;
  }
}
body .before_after_photos .top_1 .block_2 {
  padding: 50px;
  background-color: #383838 !important;
  color: #fff;
}
body .before_after_photos .top_1 .block_2 .block_3 {
  position: relative;
  z-index: -1;
}
body .before_after_photos .top_1 .block_2 .text_1 {
  font-family: 'PlayfairDisplay';
  font-size: 36px;
}
body .before_after_photos .top_1 .block_2 .victoria-one2 {
  margin: inherit;
  margin-top: 20px;
  width: 20%;
}
@media only screen and (max-width: 767px) {
  body .before_after_photos .top_1 {
    margin-top: 70px;
  }
}
body .before_after_photos .top_2 {
  padding-top: 50px;
  padding-bottom: 50px;
}
body .before_after_photos .top_2 .text_1 {
  font-size: 28px;
  font-family: 'PlayfairDisplay';
}
body .before_after_photos .top_2 .text_2 a {
  color: #999;
}
body .before_after_photos .top_2 .text_3 {
  margin-top: 35px;
}
body .before_after_photos .top_2 .text_3 a {
  color: #999;
}
@media only screen and (min-width: 767px) {
  body .before_after_photos .top_2 .block_1 .victoria-one {
    margin-right: 0px;
    width: 50%;
  }
  body .before_after_photos .top_2 .block_2 .victoria-one {
    margin-left: 0px;
    width: 50%;
  }
}
body .before_after_photos .top_5 {
  padding-top: 50px;
  padding-bottom: 50px;
}
body .before_after_photos .top_5 hr {
  width: 250px;
  margin: auto;
  border: 1px solid #000;
  margin-bottom: 20px;
}
body .before_after_photos .top_5 .text_1 {
  font-size: 28px;
  font-family: 'PlayfairDisplay';
}
