body .blog_detail .top_1 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f7f7f7 !important;
  margin-top: 80px;
}
body .blog_detail .top_1 .text_1 {
  font-family: 'PlayfairDisplay';
  font-size: 36px;
}
@media only screen and (max-width: 767px) {
  body .blog_detail .top_1 {
    margin-top: 70px;
  }
}
body .blog_detail .top_2 {
  padding-top: 50px;
  padding-bottom: 50px;
}
body .blog_detail .top_2 .img_1 {
  width: 100%;
}
body .blog_detail .top_2 .text_2 {
  color: #999;
  font-style: italic;
  font-size: 14px;
  float: left;
}
body .blog_detail .top_2 .block_1 {
  padding-top: 20px;
  padding-bottom: 50px;
}
body .blog_detail .top_2 .block_1 .block_2 {
  float: right;
  display: flex;
  align-items: center;
}
body .blog_detail .top_2 .block_1 .block_2 .block_3 {
  padding-left: 5px;
  padding-right: 5px;
}
body .blog_detail .top_2 .block_1 .block_2 .img_2 {
  float: left;
}
body .blog_detail .top_2 .block_1 .block_2 .text_3 {
  float: left;
  position: relative;
  top: 7px;
  font-size: 11px;
}
body .blog_detail .top_2 .new_detail table td {
  width: 50% !important;
  padding: 20px;
}
body .blog_detail .top_2 .new_detail img {
  max-width: 100% !important;
  height: auto !important;
}
body .blog_detail .top_2 .new_detail iframe {
  width: 100%;
}
@media only screen and (min-width: 767px) {
  body .blog_detail .top_2 .new_detail iframe {
    height: 350px;
  }
}
@media only screen and (max-width: 767px) {
  body .blog_detail .top_2 .new_detail iframe {
    max-width: 100% !important;
    max-height: 100% !important;
  }
  body .blog_detail .top_2 .new_detail table {
    width: 100% !important;
  }
  body .blog_detail .top_2 .new_detail table td {
    width: 100% !important;
    display: block;
    padding: 10px;
  }
  body .blog_detail .top_2 .new_detail table td img {
    max-width: 100% !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  body .blog_detail .top_2 {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  body .blog_detail .top_2 .block_1 .block_2 {
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
body .blog_detail .top_3 .text_1 {
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
body .blog_detail .top_3 .block_1 {
  border: 1px solid #efefef;
}
body .blog_detail .top_3 .block_1 .img_1 {
  width: 100%;
  transition: all ease 0.5s;
}
body .blog_detail .top_3 .block_1 .img_1:hover {
  filter: brightness(0.5);
  transition: all ease 0.5s;
}
body .blog_detail .top_3 .block_1 a .text_2 {
  color: #999;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
body .blog_detail .top_3 hr {
  border-top: 2px solid #ddd;
  margin-top: 50px;
}
@media only screen and (max-width: 767px) {
  body .blog_detail .top_3 .block_1 {
    margin-top: 20px;
  }
}
body .blog_detail .top_4 {
  padding-top: 20px;
  padding-bottom: 50px;
}
body .blog_detail .top_4 .text_1 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
body .blog_detail .top_4 .block_1 {
  margin-top: 30px;
}
body .blog_detail .top_4 .block_1 .block_2 {
  display: flex;
  align-items: center;
}
body .blog_detail .top_4 .block_1 .block_2 .img_1 {
  margin-left: 10px;
  margin-right: 10px;
}
body .blog_detail .top_4 .block_1 .block_2 .text_2 {
  margin-right: 20px;
  font-weight: bold;
  color: #666;
}
body .blog_detail .top_4 .block_1 .block_2 .text_3 {
  color: #999;
  font-size: 11px;
  margin-right: 20px;
}
body .blog_detail .top_4 .block_1 .block_2 .text_4 a {
  color: #777;
}
@media only screen and (max-width: 767px) {
  body .blog_detail .top_4 .block_1 .block_2 {
    display: flex;
    align-items: center;
  }
  body .blog_detail .top_4 .block_1 .block_2 .text_2 {
    margin-right: 10px;
  }
  body .blog_detail .top_4 .block_1 .block_2 .text_3 {
    margin-right: 10px;
  }
}
body .blog_detail .top_4 .block_1 .block_3 {
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  margin-top: 20px;
}
body .blog_detail .top_4 .block_1 .block_3:after {
  display: block;
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  left: 24px;
  top: -8px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #eee;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: none;
  border-bottom: none;
}
body .blog_detail .top_5 {
  padding-bottom: 50px;
}
body .blog_detail .top_5 .text_1 {
  font-family: 'PlayfairDisplay';
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}
body .blog_detail .top_5 .input_1 {
  margin-bottom: 10px;
  border-radius: 0px;
}
body .blog_detail .top_5 .input_2 {
  width: 30%;
  float: left;
  margin-right: 20px;
}
@media only screen and (max-width: 767px) {
  body .blog_detail .top_5 .input_2 {
    width: 100%;
    float: none;
    margin-right: 20px;
  }
}
body .blog_detail .top_5 .clear {
  clear: both;
}
body .blog_detail .top_5 .btn_1 {
  border-radius: 0px;
  padding: 0px 20px;
  font-size: 13px;
  color: #fff;
  line-height: 42px;
  background-color: #000;
  border: 2px solid #252525;
  transition: all ease 0.5s;
  font-weight: bold;
  margin-top: 20px;
}
body .blog_detail .top_5 .btn_1:hover {
  background-color: #fff;
  color: #000;
  transition: all ease 0.5s;
  border: 2px solid #252525;
}
body .blog_detail .top_5 .btn_1:focus {
  outline: none;
}
