body .daily .top_1 {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 80px;
}
body .daily .top_1 .text_1 {
  font-family: 'PlayfairDisplay';
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px;
}
body .daily .top_1 .btn_1 {
  border-radius: 5px;
  padding: 0px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  line-height: 42px;
  background-color: #777777;
  transition: all ease 0.5s;
  margin: auto;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
body .daily .top_1 .btn_1:hover {
  background-color: #252525;
  color: #fff;
  transition: all ease 0.5s;
}
body .daily .top_1 .btn_1 .img_1 {
  float: left;
  position: relative;
  top: 15px;
  margin-right: 10px;
}
@media only screen and (max-width: 767px) {
  body .daily .top_1 {
    margin-top: 70px;
  }
}
body .daily .top_2 .text_1 {
  font-size: 20px;
  font-weight: bold;
}
body .daily .top_2 table .img_1 {
  float: left;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
@media only screen and (max-width: 767px) {
  body .daily .top_2 .block_1 {
    overflow-x: scroll;
  }
  body .daily .top_2 table {
    width: 1000px;
  }
}
