.product_detail .top_1 {
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.product_detail .top_1 .text_1 {
  font-family: 'PlayfairDisplay';
  font-size: 36px;
}
@media only screen and (max-width: 767px) {
  .product_detail .top_1 {
    margin-top: 70px;
  }
}
.product_detail .top_2 {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.product_detail .top_2 .text_1 {
  font-family: 'PlayfairDisplay';
  font-size: 22px;
  font-weight: bold;
}
.product_detail .top_2 .text_2 {
  font-size: 28px;
  font-weight: bold;
}
.product_detail .top_2 .text_3 {
  margin-bottom: 30px;
}
.product_detail .top_2 .form-group {
  margin-bottom: 0px;
}
.product_detail .top_2 .form-control {
  width: 35%;
  border-radius: 0px;
  font-size: 13px;
  font-weight: bold;
  color: #252525;
}
@media only screen and (max-width: 767px) {
  .product_detail .top_2 .text_1 {
    margin-top: 20px;
  }
  .product_detail .top_2 .form-control {
    width: 70%;
  }
}
.product_detail .top_2 .reset {
  color: #999;
  font-size: 12px;
  font-style: italic;
}
.product_detail .top_2 .text_4 {
  margin-bottom: 3px;
  color: #777;
  font-size: 14px;
  font-weight: bold;
}
.product_detail .top_2 .text_5 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}
.product_detail .top_2 .text_6 {
  margin-bottom: 5px;
}
.product_detail .top_2 .text_7 {
  color: #777777;
}
.product_detail .top_2 .carousel_4 {
  margin-top: 10px;
}
.product_detail .top_2 .carousel_4 .item {
  padding: 3px;
  border: 1px solid #e6e6e6;
  transition: all ease 0.5s;
  margin: 3px;
  cursor: pointer;
}
.product_detail .top_2 .carousel_4 .item:hover {
  border: 1px solid #797979;
  transition: all ease 0.5s;
}
.product_detail .top_3 {
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 50px;
}
.product_detail .top_3 ul.tabs_pro_detail {
  list-style: none;
  border-bottom: 2px solid #eee;
  padding-inline-start: 0px;
}
.product_detail .top_3 ul.tabs_pro_detail li {
  background: none;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .product_detail .top_3 ul.tabs_pro_detail li {
    display: block;
    width: max-content;
  }
}
.product_detail .top_3 ul.tabs_pro_detail li.current {
  border-bottom: 2px solid #383838;
}
.product_detail .top_3 .tab-content {
  display: none;
  padding: 15px 10px;
}
.product_detail .top_3 .tab-content .text_1 {
  font-size: 24px;
  font-family: 'PlayfairDisplay';
}
.product_detail .top_3 .tab-content .content table td {
  width: 50% !important;
  padding: 20px;
}
.product_detail .top_3 .tab-content .content img {
  max-width: 100% !important;
  height: auto !important;
}
@media only screen and (max-width: 767px) {
  .product_detail .top_3 .tab-content .content iframe {
    max-width: 100% !important;
    height: auto !important;
  }
  .product_detail .top_3 .tab-content .content table {
    width: 100% !important;
  }
  .product_detail .top_3 .tab-content .content table td {
    width: 100% !important;
    display: block;
    padding: 10px;
  }
  .product_detail .top_3 .tab-content .content table td img {
    max-width: 100% !important;
    height: auto !important;
  }
}
.product_detail .top_3 .tab-content .block_1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.product_detail .top_3 .tab-content .block_1 .img_1 {
  width: 32px;
  height: 32px;
}
.product_detail .top_3 .tab-content .block_1 .block_2 {
  background-color: #f7f7f7;
  padding: 10px 20px;
  margin-left: 20px;
  position: relative;
  width: 100%;
}
.product_detail .top_3 .tab-content .block_1 .block_2 .text_2 .text_3 {
  color: #777;
}
.product_detail .top_3 .tab-content .block_1 .block_2 .text_2 .text_4 {
  float: right;
}
.product_detail .top_3 .tab-content .block_1 .block_2 .text_4 {
  float: right;
  position: relative;
  top: -30px;
}
@media only screen and (max-width: 767px) {
  .product_detail .top_3 .tab-content .block_1 .block_2 .text_4 {
    float: none;
    top: unset;
  }
}
.product_detail .top_3 .tab-content .block_1 .block_2:after {
  width: 15px;
  height: 15px;
  display: block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  background-color: #f7f7f7;
  position: absolute;
  left: -6px;
  top: 50%;
  margin-top: -6px;
  content: "";
}
@media only screen and (max-width: 767px) {
  .product_detail .top_3 .tab-content .block_1 .block_2 .text_2 .text_3 {
    display: block;
  }
  .product_detail .top_3 .tab-content .block_1 .block_2 .text_2 .text_4 {
    float: none;
    display: block;
  }
}
.product_detail .top_3 .tab-content .text_6 {
  font-size: 20px;
}
.product_detail .top_3 .tab-content .text_7 {
  margin-bottom: 30px;
}
.product_detail .top_3 .tab-content .form-control {
  border-radius: 0px;
}
.product_detail .top_3 .tab-content .text_9 {
  margin-left: 20px;
}
.product_detail .top_3 .tab-content .block_3 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}
.product_detail .top_3 .tab-content .block_3 .text_10 {
  margin-right: 20px;
  min-width: 60px;
}
.product_detail .top_3 .tab-content .block_3 input {
  width: 30% !important;
}
@media only screen and (max-width: 767px) {
  .product_detail .top_3 .tab-content .block_3 {
    display: block;
  }
  .product_detail .top_3 .tab-content .block_3 .text_10 {
    margin-right: 20px;
    min-width: 60px;
  }
  .product_detail .top_3 .tab-content .block_3 input {
    width: 100% !important;
  }
}
.product_detail .top_3 .tab-content .btn_1 {
  border-radius: 0px;
  padding: 0px 20px;
  font-size: 13px;
  color: #fff;
  line-height: 42px;
  background-color: #000;
  border: 2px solid #252525;
  transition: all ease 0.5s;
  font-weight: bold;
}
.product_detail .top_3 .tab-content .btn_1:hover {
  background-color: #fff;
  color: #000;
  transition: all ease 0.5s;
  border: 2px solid #252525;
}
.product_detail .top_3 .tab-content .btn_1:focus {
  outline: none;
}
.product_detail .top_3 .desktop {
  display: block;
}
.product_detail .top_3 .tab-content.current {
  display: inherit;
}
.product_detail .top_4 {
  background-color: #fff;
  padding-bottom: 50px;
}
.product_detail .top_4 .text_1 {
  font-size: 20px;
  font-family: 'PlayfairDisplay';
}
.product_detail .top_4 .block_1 {
  margin-bottom: 20px;
}
.product_detail .top_4 .block_1 .block_2 {
  border: 1px solid #e3e3e3;
  padding: 15px;
}
.product_detail .top_4 .block_1 .block_2 .text_3 {
  color: #5b5b5b;
  font-family: 'PlayfairDisplay';
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 30px;
  text-align: left;
}
.product_detail .top_4 .block_1 .block_2 .text_4 {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}
