body .search .top_1 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f7f7f7 !important;
  margin-top: 80px;
}
body .search .top_1 .text_1 {
  font-family: 'PlayfairDisplay';
  font-size: 36px;
}
@media only screen and (max-width: 767px) {
  body .search .top_1 {
    margin-top: 70px;
  }
}
body .search .top_2 {
  padding-top: 50px;
  padding-bottom: 50px;
}
body .search .top_2 .text_1 {
  text-align: center;
  margin-bottom: 20px;
}
body .search .top_2 .block_1 {
  position: relative;
  margin-bottom: 50px;
}
body .search .top_2 .block_1 .input_1 {
  border-radius: 0px;
  position: relative;
}
body .search .top_2 .block_1 .btn_1 {
  position: absolute;
  top: 5px;
  right: 20px;
  border: 0px;
  background: none;
  outline: none;
}
body .search .top_2 .block_2 {
  margin-bottom: 50px;
  display: none;
}
body .search .top_2 .block_2 .text_2 a {
  font-family: 'PlayfairDisplay';
  color: #444;
  font-size: 18px;
}
body .search .top_2 .block_2 .text_3 {
  color: #666;
}
body .search .top_2 .block_2 hr {
  border-top: 1px solid #ddd;
}
body .search .top_2 .btn_2 {
  border-radius: 0px;
  border: 2px solid #e2e2e2;
  padding: 0px 200px;
  font-size: 13px;
  color: #252525;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 42px;
  transition: all ease 0.5s;
  margin: auto;
  margin-top: 30px;
  outline: none;
}
body .search .top_2 .btn_2 img {
  margin-right: 10px;
}
body .search .top_2 .btn_2:hover {
  color: #252525;
  transition: all ease 0.5s;
}
@media only screen and (max-width: 767px) {
  body .search .top_2 .btn_2 {
    padding: 0px 50px;
  }
}
