body .shopping_1 .top_1 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f7f7f7 !important;
  margin-top: 80px;
}
body .shopping_1 .top_1 .text_1 {
  font-family: 'PlayfairDisplay';
  font-size: 36px;
}
body .shopping_1 .top_2 {
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #ededed !important;
}
body .shopping_1 .top_2 .text_1 {
  font-size: 14px;
  font-weight: bold;
}
body .shopping_1 .top_3 .row {
  margin-left: -30px;
  margin-right: -30px;
}
@media only screen and (max-width: 767px) {
  body .shopping_1 .top_3 .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
body .shopping_1 .top_3 .text_1 {
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'PlayfairDisplay';
}
body .shopping_1 .top_3 .block_1 {
  background-image: url(../images/shopping_2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 70px;
  color: #fff;
  min-height: 460px;
}
body .shopping_1 .top_3 .block_1 .img_1 {
  margin: auto;
}
body .shopping_1 .top_3 .block_1 .text_2 {
  font-family: 'PlayfairDisplay';
  font-size: 24px;
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  body .shopping_1 .top_3 .block_1 {
    padding: 50px 50px;
  }
}
body .shopping_1 .top_3 .block_2 {
  background-image: url(../images/shopping_4.jpg);
}
body .shopping_1 .top_3 .block_3 {
  background-image: url(../images/shopping_6.jpg);
}
body .shopping_1 .top_3 .block_4 {
  background-image: url(../images/shopping_8.jpg);
}
body .shopping_1 .top_4 {
  margin-top: 100px;
}
body .shopping_1 .top_4 .row {
  background-color: #f1f3f2;
}
@media only screen and (max-width: 767px) {
  body .shopping_1 .top_4 .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
body .shopping_1 .top_4 .block_2 {
  padding: 50px 50px;
}
body .shopping_1 .top_4 .block_2 .block_3 {
  border: 2px solid #000;
  padding: 50px 60px;
}
body .shopping_1 .top_4 .block_2 .block_3 .text_1 {
  font-family: 'PlayfairDisplay';
  font-size: 28px;
}
@media only screen and (max-width: 767px) {
  body .shopping_1 .top_4 .block_2 {
    padding: 30px 30px;
  }
  body .shopping_1 .top_4 .block_2 .block_3 {
    border: 2px solid #000;
    padding: 50px 20px;
  }
  body .shopping_1 .top_4 .block_2 .block_3 .text_1 {
    font-family: 'PlayfairDisplay';
    font-size: 28px;
  }
}
body .shopping_1 .top_5 {
  background-color: #f1f3f2;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
}
body .shopping_1 .top_5 .text_1 {
  font-family: 'PlayfairDisplay';
  font-size: 28px;
}
@media only screen and (max-width: 767px) {
  body .shopping_1 .top_5 {
    margin-top: 50px;
  }
}
