.skin_recovery_cream .top_1 {
  background-image: url(../images/skin_recovery_cream_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.skin_recovery_cream .top_1 .text_1 {
  font-family: 'PlayfairDisplay';
  font-size: 36px;
  margin-bottom: 0px;
}
.skin_recovery_cream .top_1 .text_2 {
  font-family: 'PlayfairDisplay';
  font-size: 24px;
}
.skin_recovery_cream .top_1 .input_1 {
  border: 0px;
  border-radius: 0px;
  margin-top: 20px;
}
.skin_recovery_cream .top_1 .victoria-one {
  width: 30%;
}
.skin_recovery_cream .top_1 .btn_1 {
  border-radius: 0px;
  border: 2px solid #252525;
  padding: 0px 25px;
  font-size: 16px;
  color: #252525;
  font-weight: 700;
  line-height: 42px;
  transition: all ease 0.5s;
  margin: auto;
  margin-top: 30px;
  background-color: unset;
}
.skin_recovery_cream .top_1 .btn_1:hover {
  background-color: #252525;
  border: 2px solid #252525;
  color: #fff;
  transition: all ease 0.5s;
}
@media only screen and (max-width: 767px) {
  .skin_recovery_cream .top_1 {
    margin-top: 70px;
  }
}
.skin_recovery_cream .top_2 .text_1 {
  text-align: center;
  font-size: 28px;
  font-family: 'PlayfairDisplay';
  margin-top: 50px;
  margin-bottom: 30px;
}
.skin_recovery_cream .top_2 .text_1 .text_2 {
  color: #ffb81c;
}
.skin_recovery_cream .top_2 .accordion {
  width: 100%;
  margin: 20px auto;
  background: #FFF;
  list-style: none;
  padding: 0px;
  border: 1px solid #ececec;
}
.skin_recovery_cream .top_2 .accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 25px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #ececec;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.skin_recovery_cream .top_2 .accordion .link:hover {
  background-color: #f5f5f5 !important;
}
.skin_recovery_cream .top_2 .accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.skin_recovery_cream .top_2 .accordion li i.fa-chevron-right {
  right: 12px;
  left: auto;
  font-size: 12px;
  color: #adadad;
}
.skin_recovery_cream .top_2 .accordion li.open .link {
  background-color: #fafafa;
}
.skin_recovery_cream .top_2 .accordion li.open i.fa-chevron-right {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.skin_recovery_cream .top_2 .submenu {
  display: none;
  padding: 20px;
}
.skin_recovery_cream .top_2 .submenu img {
  margin: 20px auto;
}
.skin_recovery_cream .top_2 .submenu p {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5em;
}
@media only screen and (max-width: 767px) {
  .skin_recovery_cream .top_2 .submenu {
    display: block;
  }
}
.skin_recovery_cream .top_3 {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 50px;
  background-image: url(../images/skin_recovery_cream_5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center !important;
}
.skin_recovery_cream .top_3 .img_1 {
  margin: auto;
  margin-bottom: 20px;
}
.skin_recovery_cream .top_3 .text_1 {
  font-size: 28px;
  font-family: 'PlayfairDisplay';
  margin-bottom: 30px;
}
.skin_recovery_cream .top_3 .text_2 {
  font-size: 18px;
  font-family: 'PlayfairDisplay';
  margin-bottom: 20px;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .skin_recovery_cream .top_3 {
    background-position: center !important;
    padding-top: 60px;
  }
  .skin_recovery_cream .top_3 .img_1 {
    margin-top: 20px;
  }
}
.skin_recovery_cream .top_4 {
  background-image: url(../images/skin_recovery_cream_6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center !important;
  padding-top: 50px;
  padding-bottom: 50px;
}
.skin_recovery_cream .top_4 .text_1 {
  font-size: 28px;
  font-family: 'PlayfairDisplay';
  margin-bottom: 30px;
}
.skin_recovery_cream .top_4 .victoria-one {
  width: 30%;
}
@media only screen and (max-width: 767px) {
  .skin_recovery_cream .top_4 {
    background-position: center !important;
  }
}
.skin_recovery_cream .top_5 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.skin_recovery_cream .top_5 hr {
  width: 100px;
  border-top: 4px solid #ffb81c;
}
.skin_recovery_cream .top_5 .text_1 {
  font-size: 24px;
  font-family: 'PlayfairDisplay';
  margin-bottom: 0px;
}
.skin_recovery_cream .top_5 .victoria-one {
  width: 30%;
}
